<!DOCTYPE html>
<html lang="en">
    <head>

        <!--META HERE-->
        <meta charset="utf-8">
        <title>To-Do</title>

        <!-- CSS -->
        <link href="/css/base.css" rel="stylesheet">

    </head>
    <!--BODY STARTS HERE-->
    <body>
        <script src="/js/main.js"></script>   
        {{{body}}}
            
    </body>
</html>