<div class="log-container" style="margin-top:100px;">
	<p class="alpha-font title" style="margin-bottom:20px;">Sign Up</p>
	<div class="login-container">
		<p id="signfo" class="beta-font logsignfo">{{sameuser}}</p>
		<div class="login-items">
		<p class="subtitle beta-font" style="margin-bottom:30px;">sign up</p>
			<form class="beta-font login" method="POST" action="" onsubmit="return sign()">
				<p>Username: <input type="text" class="logInputs" pattern="^\S+$" placeholder="No Spaces" name="usersign"></p><br>
				<p>Password: <input type="password" class="logInputs" name="passsign"></p><br>
				<p>Re-Type P: <input type="password" class="logInputs" name="repasssign"></p>
				<button class="beta-font btn" type="submit" style="margin-top:20px;">Sign Up</button>
			</form><br>
			<a href="/" class="alpha-font loglinks">login page</a>
		</div>
	</div>
</div>